.cart-container {
  padding: 15px;
}

.cart-title {
  text-align: center;
  text-transform: uppercase;
}

.cart-top-container {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}

.continue-shoping-button {
  border: 1px solid #000;
  background: transparent;
  font-weight: bold;
}

.checkout-button {
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
}

.top-text {
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

.cart-bottom-container {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.purchased-product-info {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.purchased-product-info {
  display: flex;
}

.cart-product-details {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-product-details-image {
  height: 200px;
  width: 200px;
  margin: 0 25px;
  border-radius: 50%;
}

.cart-product-details-info {
  padding: 20px;
}

.cart-price-details {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-price-details-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.cart-price-details-amount-number {
  font-size: 25px;
  font-weight: bold;
}

.cart-price-details-amount-icon {
  height: 50px;
  width: 50px;
  background-color: teal;
  border-radius: 10px;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}

.cart-price-details-price {
  margin: 10px;
  font-size: 30px;
}

.remove-item-from-cart{
  border-radius: 5px;
  padding: 2px 5px;
  background-color: rgb(234, 80, 80);
  cursor: pointer;
  color: black;
}

.purchased-product-summary {
  flex: 1;
  border: 1px solid lightgray;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
  height: 50vh;
}

.summary-item {
  display: flex;
  align-items: center;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.summary-title {
  font-weight: 200;
  text-align: center;
}

.summary-item-title {
  font-size: 15px;
  font-weight: 200;
  margin-right: 10px;
}

.summary-item-price {
  font-size: 15px;
  font-weight: 200;
}

.summary-checkout-button {
  margin-left: 10%;
  margin-top: 20px;
  padding: 10px;
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .cart-top-container {
    padding: 0 5px;
  }

  .top-button {
    padding: 5px;
  }

  .continue-shoping-button {
    height: 50px;
  }

  .checkout-button {
    height: 50px;
    padding: 5px 10px;
  }

  .top-text {
    display: none;
  }

  .cart-bottom-container {
    flex-direction: column-reverse;
  }

  .cart-wrapper {
    display: flex;
    flex-direction: row;
  }

  .cart-product-details {
    width: 90;
  }

  .cart-product-details-image {
    width: 150px;
    height: 150px;
  }

  .cart-price-details {
    flex-direction: row;
  }
}
