.filter-container {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.filter-product-text,
.sort-products-text {
  font-size: 20px;
  margin-right: 5px;
}

select {
  padding: 5px 10px;
  margin: 5px;
}

.filter-reset{
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .filter-container {
    margin: 10px 25px;
    justify-content: space-between;
  }

  .filter {
    display: flex;
    flex-direction: column;
  }

  .filter-product-text,
  .sort-products-text {
    font-size: 15px;
    margin-right: 0;
    text-align: center;
  }

  select {
    padding: 5px 2px;
    margin: 8px 5px;
  }
}
