.categories-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .categories-container {
    padding: 25px 5px;
    flex-direction: column;
  }
}
