.title-container {
  background-color: rgb(184, 138, 228);
  padding: 10px;
  text-align: center;
  font-weight: bolder;
}

@media screen and (max-width: 480px) {
  .title-container {
    display: none;
  }
}
