.navbar-container {
  height: 60px;
}

.navbar {
  padding: 10px 40px;
  display: flex;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.search {
  cursor: pointer;
}

.search-container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

input {
  border: none;
}

.navbar-middle {
  flex: 1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  padding: 0 20px;
  cursor: pointer;
}

.modal-item-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-container{
  padding: 20px;
  background-color: lightgrey;
  border-radius: 20px;
  width: 30%;
  height: 20%;
}

.logout-container-text {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.logout-container-buttton-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.logout-container-buttton{
  margin: 10px;
  padding: 10px;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .navbar-container {
    height: 100px;
  }

  .navbar {
    flex-direction: column;
    padding: 0;
    margin-top: 5px;
  }

  .navbar-left {
    margin-bottom: 5px;
  }

  .navbar-middle {
    margin-bottom: 5px;
  }

  .navbar-right {
    margin-bottom: 5px;
    justify-content: space-around;
  }

  .menu-item {
    font-size: 20px;
  }
}
